<div class="row container-fluid" id="habilidades">
    <hr />
    <div class="row" *ngIf="!authority">
      <h3 class="float-start" style="margin-left:-1.4rem;">Mis Habilidades</h3>
    </div>

    <div *ngIf="authority === 'admin'">
      <div class="row">
        <div class="col-md-3">
          <h3 class="float-start">Mis Habilidades</h3>
        </div>

        <div class="col-md-9 align-items-center" style="padding-right: 2em">
          <a class="btn btn-info float-end" (click)="openAddFormModal()"
            ><i class="fa-solid fa-plus" style="color: white"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-md-3" *ngFor="let elemento of miHabilidades">
        <div *ngIf="authority === 'admin'" class="float-right">
          <a (click)="openEditFormModal(elemento.id)">
            <i class="btn btn-success mx-2 fa-solid fa-pen-to-square"></i>
          </a>
          <a (click)="borrar(elemento.id)">
            <i class="btn btn-danger fa-solid fa-trash-can"></i>
          </a>
        </div>

        <h5 class="mat-h3">{{ elemento.titulo }}</h5>
        <div class="set-size charts-container d-flex justify-content-center">
          <div class="pie-wrapper progress-{{ elemento.avance }}">
            <span class="label"
              >{{ elemento.avance }}<span class="smaller">%</span></span
            >
            <div class="pie">
              <div class="left-side half-circle"></div>
              <div class="right-side half-circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
