<div class="container-fluid">
  <div class="row" id="inicio">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12" id="imgcover"></div>
      </div>
      <div class="row">
        <div class="col-md-3" id="areaperfil">
          <img
            alt="Foto de perfil"
            src="{{ miPerfilUsuario?.imgUrl }}"
            class="img-fluid"
            id="profpic"
          />
          <div *ngIf="authority === 'admin'" class="float-right">
            <i class="mx-2 fa-solid fa-pen-to-square"></i>
          </div>

          <h2>{{ miPerfilUsuario?.nombre }}</h2>

          <h6>{{ miPerfilUsuario?.cargo }}</h6>
          <div *ngIf="authority === 'admin'" class="float-right">
            <i class="mx-2 fa-solid fa-pen-to-square"></i>
          </div>
        </div>
        <div class="col-md-9">
          <div class="page-header py-3">
            <h1>Hola! Bienvenid@ a mi portfolio web!</h1>
          </div>
          <div *ngIf="authority === 'admin'" class="float-right">
            <i class="mx-2 fa-solid fa-pen-to-square"></i>
          </div>
          <p class="text-muted">
            {{ miPerfilUsuario?.intro }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDUCACION -->

<div class="row container-fluid" id="educacion">
  <div class="col-md-12">
    <hr />
    <h3 *ngIf="!authority">Mi Educación</h3>

    <div *ngIf="authority === 'admin'">
      <div class="container-fluid py-2 row">
        <span class="col-md-2"><h3>Mi Educación</h3></span>
        <span class="col-md-2">
          <a routerLink="editor"><i class="fa-solid fa-plus"></i></a>
        </span>
      </div>
    </div>

    <ul>
      <li class="row tarjeta" *ngFor="let elemento of miEducacion">
        <div class="col-md-3">
          <img
            class="logolateral"
            [alt]="elemento.curso"
            [src]="elemento.imgUrl"
          />
        </div>
        <div class="col-md-9">
          <h4>{{ elemento.curso }}</h4>
          <div *ngIf="authority === 'admin'" class="float-right">
            <i class="mx-2 fa-solid fa-pen-to-square"></i>
            <i class="fa-solid fa-trash-can"></i>
          </div>
          <p>{{ elemento.institucion }}</p>
          <p>{{ elemento.descripcion }}</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- EXPERIENCIA  -->

<div class="row container-fluid" id="experiencia">
  <div class="col-md-12">
    <hr />
    <h3 *ngIf="!authority">Mi experiencia</h3>

    <div *ngIf="authority === 'admin'">
      <div class="container-fluid py-2 row">
        <span class="col-md-2"><h3>Mi Experiencia</h3></span>
        <span class="col-md-2">
          <a routerLink="editor"><i class="fa-solid fa-plus"></i></a>
        </span>
      </div>
    </div>
    <ul>
      <li class="row tarjeta" *ngFor="let elemento of miExperiencia">
        <div class="col-md-3">
          <img alt="Bootstrap Image Preview" [src]="elemento.imgUrl" />
        </div>
        <div class="col-md-9">
          <h3>{{ elemento?.cargo }}</h3>
          <div *ngIf="authority === 'admin'" class="float-right">
            <i class="mx-2 fa-solid fa-pen-to-square"></i>
            <i class="fa-solid fa-trash-can"></i>
          </div>
          <p>{{ elemento?.descripcion }}</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- HABILIDADES -->

<div class="row container-fluid" id="habilidades">
  <div class="col-md-12">
    <hr />
    <h3 *ngIf="!authority">Mis habilidades</h3>

    <div *ngIf="authority === 'admin'">
      <div class="container-fluid py-2 row">
        <span class="col-md-2"><h3>Mis habilidades</h3></span>
        <span class="col-md-2">
          <a routerLink="editor"><i class="fa-solid fa-plus"></i></a>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4" *ngFor="let elemento of miHabilidades">
        <div *ngIf="authority === 'admin'" class="float-right">
          <i class="mx-2 fa-solid fa-pen-to-square"></i>
          <i class="fa-solid fa-trash-can"></i>
        </div>
        <h4>{{ elemento.titulo }}</h4>
        <div class="progress blue">
          <span class="progress-left">
            <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
            <span class="progress-bar"></span>
          </span>
          <div class="progress-value">{{ elemento.avance }}%</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PROYECTOS -->

<div class="row" id="proyectos">
  <div class="col-md-12">
    <section class="jumbotron text-center">
      <div class="container" id="separador">
        <h1 class="jumbotron-heading">Mis Proyectos</h1>
        <p class="lead text-muted">
          A continuación hay algunos de mis proyectos.. de momento no son
          muchos! :p pero a medida que vaya progresando, los voy a ir agregando
          en esta sección.
        </p>
      </div>
    </section>

    <div *ngIf="authority === 'admin'">
      <a routerLink="editor"><i class="fa-solid fa-plus"></i></a>
    </div>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let elemento of miProyectos">
            <div *ngIf="authority === 'admin'" class="float-right">
              <i class="mx-2 fa-solid fa-pen-to-square"></i>
              <i class="fa-solid fa-trash-can"></i>
            </div>
            <div class="card mb-4 shadow-sm">
              <svg
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
                aria-label="Placeholder: Thumbnail"
              >
                <title>{{ elemento.titulo }}</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
              <div class="card-body">
                <p class="card-text">{{ elemento.descripcion }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Ver
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Edit
                    </button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->

<div class="row" id="footer">
  <div class="container">
    <div class="text-center">
      <img
        class="profile-small d-inline-block mx-auto rounded-circle mb-2"
        [src]="miPerfilUsuario?.imgUrl"
        alt=""
      />
    </div>
    <h3 class="section-title clight font-weight-bold text-center mb-2">
      ¿Te interesa contar conmigo para tu proyecto?
    </h3>
    <div class="section-intro mx-auto text-center mb-3" style="color: #fff">
      ¿Estás buscando un desarrollador full-stack para tu aplicación web? Si la
      respuesta es si, enviame un mensaje a contrerasmaximiliano@live.com.ar o
      podés usar el formulario de contacto.
    </div>
    <div class="text-center">
      <a class="btn btn-secondary" href="./contacto">Contacto</a>
    </div>
  </div>
</div>
