<header>

<div class="row" id="cont-header">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <a
            class="navbar-brand"
            href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
            target="_blank"
          >
            <img
              src="/assets/img/APLogo.png"
              height="60"
              alt="Argentina Programa"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="barranav">
              <li class="nav-item active">
                <a class="nav-link" href="#inicio"
                  >Inicio <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#experiencia">Experiencia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#educacion">Educacion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#habilidades">Habilidades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#proyectos">Proyectos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="contacto" 
                  >Contacto</a>
              </li>
            </ul>
              <li *ngIf="!isLogin" class="nav-item">
                <a class="btn btn-secondary"routerLink="login">Iniciar Sesión</a>
              </li>
              
              <li *ngIf="isLogin" class="nav-item">
                <a class="btn btn-secondary" (click)="logOut()" style="cursor: pointer;">Cerrar Sesión</a>
              </li>
        
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
</header>
<router-outlet></router-outlet>