
<div class="modal-header" >
    <h2  class="mt-2 modal-title">Detalles del Proyecto: {{datosActual.titulo}}</h2>
    <button type="button" class="btn-close" color="" aria-label="Cerrar"
     (click)="activeModal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">

<img class="logoproyectos" src="{{datosActual.imgUrl}}" alt="">

<h2 class="mat-h2"> Descripción del proyecto</h2>
<p>{{datosActual.descripcion}}</p>
<h2 class="mat-h2"> Tecnologías utilizadas</h2>
<p>{{datosActual.tecnologias}}</p>
  </div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Cerrar</button>
</div>



